TODO.md
DEMO.md

root.json
ini.json
layouts.json

temp/

apps/Activities/*.json
apps/Activities/*.bin
apps/Activities/main.go
apps/Activities/.vscode/
apps/Activities/Chats/
apps/Activities/Activities/

apps/Device/*.json
apps/Device/*.bin
apps/Device/main.go
apps/Device/.vscode/
apps/Device/Chats/
apps/Device/*.sqlite
apps/Device/*.sqlite-shm
apps/Device/*.sqlite-wal

apps/Emails/*.json
apps/Emails/*.bin
apps/Emails/main.go
apps/Emails/.vscode/
apps/Emails/Chats/

apps/Events/*.json
apps/Events/*.bin
apps/Events/main.go
apps/Events/.vscode/
apps/Events/Chats/

apps/Root/*.json
apps/Root/*.bin
apps/Root/main.go
apps/Root/.vscode/
apps/Root/Chats/

apps/Tools/*.json
apps/Tools/*.bin
apps/Tools/main.go
apps/Tools/.vscode/
apps/Tools/Chats/



