/temp
/maps
/services
widgets/ini
widgets/app
skyalt
data/Xai-Xai.json
data/OpenAI-OpenAI.json
data/Anthropic-Anthropic.json
data/Groq-Groq.json
ini.json
prompt_json2.json
prompt_json1.json
prompt_code.txt


